*:active {
  outline: none;
}

*[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

h1 {
  margin: 0.5em 0;
}

h4 {
  margin-bottom: 0.5em;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeefef;
}

section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 48px auto;
  padding: 24px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

header {
  display: flex;
  width: 100%;
  margin-bottom: 1.5em;
  justify-content: space-between;
  align-items: baseline;
}

main {
  flex: 1;
}

aside {
  flex: 0 0 33%;
  max-width: 33%;
}

button {
  display: block;
  padding: 11px 12px;
  margin: 12px 0;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #3b3b3bda;
  background: #ffffff;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #cccccc;
}

@media (max-width: 767px) {
  section {
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }

  main {
    order: 1;
  }

  aside {
    max-width: none;
    order: 2;
    margin-bottom: 30px;
  }
}

.select__option {
  white-space: nowrap;
}
